<h3 class="performance-title">Since inception for our <span>{{strategy.name}}</span> investment strategy:</h3>
<div class="calculator-wrapper">
  <div class="section">
    <div class="form-group input-group">
      <label>Enter initial amount:</label>
      <span class="currency">£</span>
      <input type="text" [(ngModel)]="intialInvestment" name="currency-field" id="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="10,000" data-type="currency">
    </div>
  </div>
  <div class="section">
    <div class="form-group result-group">
      <label>Portfolio growth</label>
      <span class="number">£ {{ valueIncrease }}</span>
    </div>
  </div>
  <div class="section">
    <div class="form-group result-group">
      <label>Portfolio percentage increase</label>
      <span class="number">{{ percentageIncrease }}%</span>
    </div>
  </div>
</div>
<div class="graph-wrapper">
  <div class="key">
    <div class="item">
      <span class="click"></span>Click & Invest
    </div>
    <div class="item">
      <span class="arc"></span>Average peer returns
    </div>
  </div>
  <div id="chart"></div>
  <p class="risk">Returns are calculated after Click & Invest management fees. Figures refer to past performance and are not a reliable indicator for future performance.</p>
</div>
<div class="table-wrapper">
  <div class="toggle" (click)="toggleTable()">
    <h3>See our performance broken down quarterly</h3>
    <img src="assets/imgs/chevron-down.svg" [ngClass]="{'rotate': expanded}" />
  </div>
  <table *ngIf="tableData" class="tableData" [ngClass]="{'active': expanded}">
    <tr>
      <th></th>
      <th>Click & Invest</th>
      <th>Average peer returns</th>
    </tr>
    <tr *ngFor="let data of tableData">
      <td class="date">{{data.date}}</td>
      <td class="clickData">{{data.click}}%</td>
      <td class="arcData">{{data.arc}}%</td>
    </tr>
  </table>
</div>
<p class="risk-warning">The graph above shows the performance of our {{strategy.name}} investment strategy from 1 January 2016 to 31 December 2018. These figures are show together with the ARC benchmark for comparison, which shows average peer returns with equivalent risk levels. Performance is shown after fees but before any tax that may be due. The ARC figures for the last three months may represent estimates only. Past performance is not a guide to future performance, and the value of investments can fall as well as rise.
  <a href="#" class="link">Learn more about how we calculate performance</a>
</p>
<div class="information info">
  <img src="assets/imgs/info-icon.svg"/>
  <p>Did you know, while we have a three year track record, Investec Wealth & Investment (which we’re part of) have been managing and investing money for over 180 years. If you’d like to know more about their track record, drop us an email or give us a call to find out more.</p>
</div>
<div class="information">
  <span>Investec Wealth & Investment (IW&I) matched portfolios</span>
  <p>Portfolio performance prior to 2016 can be demonstrated using matched portfolios from Investec Wealth and Investment. You can find out more about the relationship between Click & Invest and IW&I on our <a href="#">About us</a> page.</p>
  <a id="dataSwitch" class="link" (click)="switchData()">View Investec Wealth and Investment performance</a>
</div>

  
